@import '../../../../scss/variables.scss';

mat-toolbar, mat-sidenav, mat-sidenav-container  {
    background-color: $back-color;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;

    span {
        margin-right: 20px;
    }
}

mat-sidenav {
    width: 200px;
}

.navbar-section {
    padding-top: 20px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;

    .section-menu {
        margin-left: 10px;
        display: flex;
    }
}

.btn-angular {
    border: none;
    background-color: $back-color;

    .icon-menu {
        color: $date-color;
        font-size: 30px;
        cursor: pointer;
        
        &__space {
            margin-right: 20px;
        }
    }
}

.navbar-logo {
    .navbar-logo-option {
        position: relative;
        top: 7px;
        margin-left: 5px;
        color: $date-color;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Lobster', cursive;
    }
}

.navbar-all-options {

    .option {
        
        .navbar-option {
            color: $date-color;
            text-decoration: none;
            padding-left: 15px;
            font-size: 17px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;

            em {
                font-size: 20px;
                margin-right: 10px;
            }
        }

        .active {
            color: $date-color;

            em {
                color: $date-color;
            }
        }
    }
}

.second-menu-options {

    button {
        cursor: pointer;

        em {
            color: $date-color;
            cursor: pointer;
            font-size: 20px;
        }
    }
}