@import '../../../../scss/variables.scss';

.filter-content {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
}

.btn-second-menu {
    position: relative;
    bottom: 5px;
}

.content-loading {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        width: 400px;
        margin: 20px 20px;

        strong {
            color: $date-color;
        }

        .btn-locations {
            color: $date-color;
        }
    }
}