@import '../../../../scss/variables.scss';

.card-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        width: 400px;
        margin: 20px 20px;

        strong {
            color: $date-color;
        }

        .btn-locations {
            color: $date-color;
        }
    }
}