<app-ordering [data]="filterService.filteredCharacters"></app-ordering>
<div class="filter-content"> 
  <h1>Episodes</h1> 
  <div [hidden]="true"><app-filter [episodes]="episodes"></app-filter></div>
</div>

<mat-divider></mat-divider>
<div class="content-loading" *ngIf="isLoading"> <mat-spinner></mat-spinner> </div>

<app-search 
  [data]="episodes" [isLoading]="isLoading" [filterType]="'episodes'"
  [title]="'Search Episodes...'" [example]="'Example: Pilot'"
></app-search> 

<div  class="card-content" *ngIf="!isLoading">
  <mat-card class="card" *ngFor="let episode of filterService.filteredEpisodes">
    <mat-card-header>
      <mat-card-title>{{ episode.name }}</mat-card-title>
      <mat-card-subtitle> <strong>Episode:</strong> {{ episode.episode }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button class="btn-locations" [routerLink]="['/episodes/detail', episode.id]">
        More Info...
      </button>
    </mat-card-actions>
  </mat-card>
</div>