<div>
  <button class="btn-second-menu" mat-icon-button matTooltip="Filtering options" [matMenuTriggerFor]="moreMenu">
    <em class="fa-solid fa-ellipsis-vertical"></em>
  </button>

  <mat-menu #moreMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="menuStatus">Filter By Status</button>
    <button mat-menu-item [matMenuTriggerFor]="menuGender">Filter By Gender</button>
    <button mat-menu-item [matMenuTriggerFor]="menuSpecies">Filter By Species</button>
  </mat-menu>

  <mat-menu #menuStatus="matMenu">
    <button mat-menu-item (click)="allCharacters()">{{ 'all' | titlecase }}</button>  
    <div *ngFor="let item of allStatus">
      <button mat-menu-item (click)="filterByStatus(item)">{{ item | titlecase }}</button>  
    </div>
  </mat-menu>

  <mat-menu #menuGender="matMenu">
    <button mat-menu-item (click)="allCharacters()">{{ 'all' | titlecase }}</button>  
    <div *ngFor="let item of allGenders">
      <button mat-menu-item (click)="filterByGenders(item)">{{ item | titlecase }}</button>  
    </div>
  </mat-menu>

  <mat-menu #menuSpecies="matMenu">
    <button mat-menu-item (click)="allCharacters()">{{ 'all' | titlecase }}</button>  
    <div *ngFor="let item of allSpecies">
      <button mat-menu-item (click)="filterBySpecies(item)">{{ item | titlecase }}</button>  
    </div>
  </mat-menu>
</div>