<div>
  <button class="btn-second-menu" mat-icon-button matTooltip="Filtering options" [matMenuTriggerFor]="moreMenu">
    <em class="fa-solid fa-ellipsis-vertical"></em>
  </button>

  <mat-menu #moreMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="menuStatus" *ngIf="allStatus.length">Filter By Status</button>
    <button mat-menu-item [matMenuTriggerFor]="menuGender" *ngIf="allGenders.length">Filter By Gender</button>
    <button mat-menu-item [matMenuTriggerFor]="menuSpecies" *ngIf="allSpecies.length">Filter By Species</button>
    <button mat-menu-item [matMenuTriggerFor]="menuLocations" *ngIf="allTypeLocations.length">Filter By Type</button>
  </mat-menu>

  <mat-menu #menuStatus="matMenu">
    <button mat-menu-item (click)="allCharacters()">{{ 'all' | titlecase }}</button>  
    <div *ngFor="let item of allStatus">
      <button mat-menu-item (click)="filterByStatus(item)">{{ item | titlecase }}</button>  
    </div>
  </mat-menu>

  <mat-menu #menuGender="matMenu">
    <button mat-menu-item (click)="allCharacters()">{{ 'all' | titlecase }}</button>  
    <div *ngFor="let item of allGenders">
      <button mat-menu-item (click)="filterByGenders(item)">{{ item | titlecase }}</button>  
    </div>
  </mat-menu>

  <mat-menu #menuSpecies="matMenu">
    <button mat-menu-item (click)="allCharacters()">{{ 'all' | titlecase }}</button>  
    <div *ngFor="let item of allSpecies">
      <button mat-menu-item (click)="filterBySpecies(item)">{{ item | titlecase }}</button>  
    </div>
  </mat-menu>

  <mat-menu #menuLocations="matMenu">
    <button mat-menu-item (click)="allLocations()">{{ 'all' | titlecase }}</button>  
    <div *ngFor="let item of allTypeLocations">
      <button mat-menu-item (click)="filterByLocation(item)">{{ item | titlecase }}</button>  
    </div>
  </mat-menu>
</div>