<div class="all-cards-content">
    <div class="card" *ngFor="let character of characters">
        <div class="img-card">
            <img class="image" src="{{ character.image }}" [alt]="character.name">
        </div>
        <div class="card-content">
            <div class="card-title">
                <div class="card-title-content">
                    <h1> {{ character.name }} </h1>
                </div>
                <h4> {{ character.created | date }} </h4>
            </div>
            <div class="card-text">
                <span> <strong>Status: </strong> {{ character.status }} </span>
                <span> <strong>Gender:</strong> {{ character.gender }} </span>
                <span> <strong>Species:</strong> {{ character.species }} </span>
            </div>
            <div>
                <div class="card-btn">
                    <div>
                        <button mat-button color="basic" [routerLink]="['/home/detail', character.id]">
                            More Info...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>