@import '../../../../scss/variables.scss';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.all-cards-content {
    width: 100%;
    height: 75%;
    display: flex;
}

.card{
    width: 1100px;
    height: 500px;
    display: flex;
    overflow:hidden;
    box-shadow: $shadow-color;
    border-radius: 10px;
    background-color: $back-color;
    transition: all 0.3s ease;
    margin: 4% auto;

    &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
        box-shadow: $shadow-color;
    }

    .img-card {
        width:40%;
        height:100%;
        background-size:cover;
        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
    }

    .card-content {
        width:60%;
        height:100%;
        display:grid;
        grid-template-rows: 50px 150px 50px;
        padding:10px 15px;

        h4 {
            color:$date-color;
            font-size: 1.2em;
        }

        .card-title-content {
            display: flex;
            justify-content: space-between;

            h1 {
                color:$color-text;
                font-weight: bold;
                font-size: 2em;
            }

            em {
                font-size: 1.5em;
                height: 15px;
                animation: pulse 1s infinite alternate;

                @keyframes pulse {
                    0% {
                      transform: scale(1);
                    }
                    100% {
                      transform: scale(1.3);
                    }
                }
            }
        }

        .card-text{
            margin-top:10%;
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            span {
                text-align:justify;
                color:$color-text;
                font-size: 1.2em;
                margin-bottom: 1%;
            }

            strong {
                color:$date-color;
            }
        }

        .card-extra-info-content {
            display:flex;
            flex-direction: column;
            margin-top:10%;
            margin-left: 10px;

            strong {
                color:$date-color;
                font-size: 1em;
            }

            span {
                color:$color-text;
                font-size: 1.2em;
                margin-bottom: 1%;
            }
        }

        .card-btn {
            margin-top: calc(25% + 10px);
            display:flex;
            justify-content: flex-end;
            button {
                padding:5px 10px;
                border-radius: 5px;
                outline: none;
                border: none;
            }

            .card-trailer {
                text-decoration: none;
                color: $date-color;
            }
        }
    }
}

@media screen and (max-width: $large) {

    .all-cards-content {
        width: 100%;
        height: 115%;
        display: flex;
    }

    .card {
        width: 90%;
        margin-top:8%;
        height: 94%;
        display: inline-block;

        .img-card {
            width: 100%;
            height: 50vh;
        }

        .card-content {
            width: 100%;
            height: 30vh;
            padding:10px 10px;

            .card-title{
                h1 {
                    font-size: 1.05em;;
                }
                h4 {
                    font-size: 0.9em;
                }
            }

            .card-text{
                height: 100vh;
            }

            .card-btn {
                margin-top: 20%;
                display: flex;
            }    
        }
    }
}

@media screen and (max-width: $medium) {
    .all-cards-content {
        width: 100%;
        height: 120%;
        padding-bottom: 50px;
    }

    .card {
        width: 75%;
        height: 150%;
        margin-top:5%;
        height: 100%;
        display: inline-block;

        .img-card {
            width: 100%;
            height: 50vh;
        }
        
        .card-content {
            width: 100%;
            height: 53vh;
            padding:10px 10px;

            .card-title{
                h1 {
                    font-size: 1em;;
                }
                h4 {
                    font-size: 0.9em;
                }
            }

            .card-text{
                height: 100vh;

                p {
                    font-size: 0.8em;
                }
            }

            .card-btn {
                margin-top: 30%;
            }    
        }
    }
}