@import '../../../../scss/variables.scss';

.search-content {
    width: 60%;
    margin: 20px auto;

    .form-input-name {
        width: 100%;
        cursor: text;
        border: none;
        outline: none;
        
        input {
            outline: none;
            border: none;
        }
    }
}

.content-not-found {
    width: 100%;
    display: flex;
    justify-content: center;

    .content-border-tile {
        width: auto;
        min-width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $date-color;
        border-radius: 10px;
        padding: 10px 8px 0px 8px;

        .title {
            color: $date-color;
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: $large) {
    .search-content {
        width: 95%;
    }
}

@media screen and (max-width: $medium) {
    .search-content {
        width: 95%;
    }
}